<main>
  <header><span class="pageName">Список сотрудников </span>
      <button class="control add_button" (click)="createEmployee()"> <span class="plus">+</span> Добавить</button></header>
      
      <div class="paging">
        <span>
          Показывать <select (change)="changeNumPerPage()" class="user_input" [(ngModel)]="employeePerPage">
              <option>5</option>
              <option>10</option>
              <option selected>20</option>
              <option>50</option>              
            </select> записей на странице
          </span>
          <span class="lineHeight">
            <img (click)="changePadding('20px 10px')"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAB4AQMAAAAaDYhyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAGUExURQCi6P///7z1OvwAAAAqSURBVEjHY/iPDj4wjArBhf4xIAP2oS80GrWjCXM0YY4KjSbM0YQ5koQAfL2VdwZpfAcAAAAASUVORK5CYII=">
            <img (click)="changePadding('10px')"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAB4AQMAAAAaDYhyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAGUExURQCi6P///7z1OvwAAAAqSURBVEjHY/iPDj4wjArBhf4xIAP2ISY0Go+jKWc05YymnNHENCo0woUASbWxT9886fcAAAAASUVORK5CYII=">
            <img (click)="changePadding('0px 10px')"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAB4AQMAAAAaDYhyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAGUExURQCi6P///7z1OvwAAAAqSURBVEjHY/iPDj4wjArBhf4xIAP2oS80GrWjUTsataPxOBq1o7E9koQA4t0KPyYVULUAAAAASUVORK5CYII=">
          </span>
        </div>
<table class="comp" >
  <thead >
    <th class="table-fio">Фамилия Имя Отчество</th>
    <th class="table-position">Должность</th>
    <th class="table-bdate">Дата рождения</th>
    <th class="table-status">Статус</th>
  </thead>
  <tr *ngFor="let employee of pageEmployees" routerLink="/detail/{{employee.id}}">
    <td [ngStyle]="{'padding': padding }" class="table-fio">{{employee.fullName}}</td>
    <td [ngStyle]="{'padding': padding }" class="table-position">{{employee.position}}</td>
    <td [ngStyle]="{'padding': padding }" class="table-bdate">{{employee.birthDate | date:"dd.MM.yyyy"}}</td>
    <td [ngStyle]="{'padding': padding }" class="table-status">{{employee.status}}</td>
  </tr>
</table>
<div class="paging">
  Сотрудников показано: <span class="numberShown">{{pageEmployees.length}}</span> из <span class="numberShown">{{employees.length}}</span>
  <span class="pagePicker" >
    <div *ngIf="isDisplayPrev" (click)="prev()" 
    class="pageNumber notcurrent">{{pageNumber - 1}}</div>
    <div *ngIf="isDisplayCur"   class="pageNumber current">{{pageNumber}}</div>    
    <div  *ngIf="isDisplayNext" (click)="next()" 
    class="pageNumber notcurrent">{{pageNumber + 1}}</div>
  </span>
  </div>
</main>