<h1>Список сотрудников</h1>
<main>
<table class="comp" >
  <thead >
    <th class="table-fio">ФИО</th>
    <th class="table-position">Должность</th>
    <th class="table-bdate">Дата рождения</th>
    <th class="table-status">Статус</th>
  </thead>
  <tr *ngFor="let employee of employees">
    <td class="table-fio">
      <a routerLink="/detail/{{employee.id}}">
        {{employee.fullName}}
      </a>
    </td>
    <td class="table-position">{{employee.position}}</td>
    <td class="table-bdate">{{employee.birthDate | date:"dd.MM.yyyy"}}</td>
    <td class="table-status">{{employee.status}}</td>
  </tr>
</table>
<button  class="control add_button" (click)="createEmployee()">Добавить</button>
</main>