.add_button {
  margin: 0 4%;
  float: right;
}

.add_button+div {
  clear: both;
  width: 100%;
  content: '';
  display: block;
}

table {
  text-align: left;
  border-collapse: collapse;
}

th {
  text-align: center;
  border-left: 2px solid rgb(162, 161, 246);
  padding: 10px;
  background-color: rgb(140, 140, 255);
}
tr a {
  text-decoration: none;
}
tr:nth-child(odd) {
  background-color: rgb(220, 237, 248);/* фон нечетных строк */
}

 tr:nth-child(even) {
  background-color: rgb(228, 242, 250);/* фон четных строк */
}

td {
  border-left: 2px solid rgb(162, 161, 246);
  border-top: 3px solid rgb(162, 161, 246);
  padding: 0 10px;
}

table td:first-child,
table td:last-child {
  border-bottom-left-radius: 20px;
}

.table-fio {
  width: 40%;
}

.table-position {
  width: 30%;
}

.table-bdate,
.table-status {
  width: 15%;
}