.add_button {
  margin: 0 1px;
  float: right;
}
table caption {
  height: 2em;
    font-family: 'Noto Serif', sans-serif;
    font-size: 2em;
    caption-side: top;
}
main {  
  width: 100%;
  max-width: 1500px;
  margin:0 auto;
}


table {
  table-layout: fixed;
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
}

td {
  border-top: 1px solid rgb(189, 237, 255);
}

tr:hover {
  background-color: rgb(169, 199, 200);
  cursor: pointer;
}

.table-bdate,
.table-status {
  width: 15%;
}

thead {
  background-color: rgba(194, 240, 255, 0.36);
}

/* resize */

/*table th:hover  {
  border-right: 3px dotted rgb(4, 4, 85)
}
th {
  position: relative;
  min-width: 25px;
}
table th .rz-handle {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize !important;
}*/