
main {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px 5px;
}


/* header */
header {
  height: 3em;
  background: #1a7a7d;
  margin-bottom: 20px;
}
.pageName {
  font-size: 2em;
  color: rgb(206, 234, 255);
}
/* add button */
button.add_button {
  margin: 0.5em 10px;
  float: right;
}

.add_button:hover {
  background-color: rgb(115, 161, 115);
  border-color: rgb(115, 161, 115);
}
.plus {
  color: rgb(0, 209, 63);
  font-weight: bold;
}

/* table */

table caption {
    font-family: 'Noto Serif', sans-serif;
    font-size: 2em;
    caption-side: top;
}
table {
  /*table-layout: fixed;*/
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
}

td {
  border-top: 1px solid rgb(189, 237, 255);
}

tr:hover {
  background-color: rgb(169, 199, 200);
  cursor: pointer;
}

.table-bdate,
.table-status {
  min-width: 15%;
}

thead {
  background-color: rgba(194, 240, 255, 0.36);
}

/* paging */
.numberShown {
  font-weight: bold;
}
.pagePicker {
  float: right;
}

.pageNumber {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  cursor: pointer;
}

.pageNumber.notcurrent:hover {
  background-color: #e9faff;
}

.current {
  background-color: #1a7a7d;
  color: white;
}