<form #createForm="ngForm" class="container">
  <h4>Введите данные нового сотрудника</h4>
  <div class="detail">
    <label>Полное имя<span class="star">*</span>: </label>
    <input required autocomplete=off name="name" [(ngModel)]="name" placeholder="Иванов Иван Иванович">
  </div>

  <div class="detail">
    <label>Статус<span class="star">*</span>: </label>
    <select required name="status" [(ngModel)]="status" name="positions">
      <option selected>работает</option>
      <option>уволен</option>
    </select>
  </div>

  <div class="detail">
    <label>Должность<span class="star">*</span>: </label>
    <select required [(ngModel)]="position" name="position">
      <option *ngFor="let position of positions" [value]="position">{{position}}</option>
    </select>
  </div>


  <div class="detail">
    <label>Дата рождения<span class="star">*</span>:  </label>
    <input required class="form-control calendar" [minDate]="minDate" [maxDate]="maxDate" autocomplete=off 
        bsDatepicker [bsConfig]="{ showWeekNumbers: false, 
           containerClass: 'theme-dark-blue' }"
      [(ngModel)]="birthDate" name="calendar">
  </div>
  
  <div class="detail">
    <label>Комментарий: </label>
    <textarea [(ngModel)]="comment" placeholder="Дополнительные сведения о работнике..." name="comment">
        </textarea>
  </div>

  <div class="buttons">
    <button class="control" type="submit" (click)="save()" [disabled]="!createForm.valid">Создать</button>
    <button class="control" (click)="close()">Отмена</button>
  </div>
</form>
