.comp {
  padding: 5px;
  min-width: 461px;
  max-width: 725px;
  margin: 0 auto;
}

.container {
  padding: 10px;
  border: 2px solid rgb(173, 173, 250); 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "info info info info"
    "info info info info"
    "info info info info"
    "info info info info"
    "comm comm comm comm "
    "buttons buttons buttons buttons";
  overflow: hidden;
}

.avatar,
.calendar {
  border: 1px solid #b6b1e5;
  padding: 1px;
}

.info,
.img,
.avatar,
.calendar,
.actions {
  display: inline-block;
}

.img,
.change_av {
  width: auto;
}

.img {
  grid-area: avatar;
}

.change_av {
  grid-area: chgb;
  height: auto;
}

.info {
  padding: 10px;
  grid-area: info;
  line-height: 2em;
}

.fullname {
  color: midnightblue;
  width: 80%;
}

.cal_button {
  width: auto;
  height: auto;
  font-size: 50%;
}

label {
  font-style: italic;
}

.comment {
  padding: 10px;
  margin-top: 10px;
  grid-area: comm;
}

.comment_text textarea {
  height: 3em;
  resize: vertical;
  width: 100%;
  overflow: hidden;
}

.actions {
  grid-area: buttons;
}

.actions button {
  margin: 10px 0 0 5px;
}


.detail {
  display: flex;
  margin: 3px;
}

.user_input {
  flex: 2;
}

input, label, select {
  margin: 5px;
}

textarea {
  width: 100%;
}