<h1>Карточка сотрудника</h1>
<div class="comp">
  <form #employeeForm="ngForm" class="container" *ngIf="employee">
    <div class="img-container">
        <img class="img" [src]="imageUrl" alt="Фото сотрудника">
    </div>
    <div class="change_av">
      <input type="file"id="selectedFile" style="display: none;"
       name="photo" class="control" #Image
        accept="image/png,image/jpg,image/jpeg" (change)="handleFileInput($event.target.files)">
        <input type="button" class="control"
         value="Выбрать фото..." onclick="document.getElementById('selectedFile').click();" />
      </div>
    <div class="info">
      <div class="detail">
        <label>Имя: </label>
        <input class="user_input fullname" required autocomplete=off name="name" [(ngModel)]="employee.fullName"
          placeholder="Имя сотрудника">
      </div>
      <div class="detail">
        <label>Статус: </label>
        <select class="user_input" required [value]="employee.status" name="status" [(ngModel)]="employee.status">
          <option>работает</option>
          <option>уволен</option>
        </select>
      </div>
      <div class="detail">
        <label>Должность: </label>
        <select class="user_input" required [(ngModel)]="employee.position" value="employee.position" name="position">
          <option *ngFor="let position of positions" [value]="position">{{position}}</option>
        </select>
      </div>
      <div class="detail">
        <label>Дата рождения:</label>
        <input class="user_input" required class="form-control calendar" [minDate]="minDate" [maxDate]="maxDate"
          autocomplete=off bsDatepicker readonly [bsConfig]="{ showWeekNumbers: false, 
        containerClass: 'theme-dark-blue', dateInputFormat: 'DD.MM.YYYY' }"
          [(ngModel)]="employee.birthDate" name="calendar">
      </div>
    </div>
    <div class="comment">
      <label>Комментарий: </label>
      <div class="comment_text">
        <textarea [(ngModel)]="employee.commentary" placeholder="" name="comment">
            </textarea>
      </div>
    </div>

    <div class="actions">
      <button class="control" (click)="goBack()">Назад</button>
      <button class="control" type="submit" (click)="save()" [disabled]="!employeeForm.valid">Сохранить</button>
    </div>
  </form>
</div>