.comp {
  padding: 5px;
  max-width: 850px;
  margin: 0 auto;
}

.container {
  padding: 10px;
  border: 2px solid rgb(173, 173, 250); 
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  grid-template-areas:
    "info info info info"
    "info info info info"
    "info info info info"
    "info info info info"
    "avatar avatar avatar chgb"
    "comm comm comm comm "
    "buttons buttons buttons buttons";
}
.img-container {
  grid-area: avatar;
}
.img {
  width: 100%;
}

@media (min-width:760px)  { .container {
  grid-template-columns: repeat(3, 1fr) 300px;
  grid-template-areas:
    "info info info avatar"
    "info info info avatar"
    "info info info avatar"
    "info info info chgb"
    "comm comm comm comm "
    "buttons buttons buttons buttons";
  }
}


.avatar,
.calendar {
  border: 1px solid #b6b1e5;
  padding: 1px;
}

.info,
.img,
.avatar,
.calendar,
.actions {
  display: inline-block;
}

.change_av {
  grid-area: chgb;
}

.info {
  padding: 10px;
  grid-area: info;
  line-height: 2em;
}

.fullname {
  color: midnightblue;
  width: 80%;
}

.cal_button {
  width: auto;
  height: auto;
  font-size: 50%;
}

label {
  font-style: italic;
}

.comment {
  padding: 10px;
  margin-top: 10px;
  grid-area: comm;
}

.comment_text textarea {
  height: 3em;
  resize: vertical;
  width: 100%;
  overflow: hidden;
}

.actions {
  grid-area: buttons;
}

.actions button {
  margin: 10px 0 0 5px;
}


.detail {
  display: flex;
  margin: 3px;
}

.user_input {
  flex: 2;
}

input, label, select {
  margin: 5px;
}

textarea {
  width: 100%;
}