<h1>Карточка сотрудника</h1>
<div class="comp">
  <form #employeeForm="ngForm" class="container">
    <div class="info">
      <div class="detail">
        <label>Имя: </label>
        <input required autocomplete=off class="fullname" name="name" [(ngModel)]="employee.fullName" placeholder="Имя сотрудника">
      </div>
      <div class="detail">
        <label>Статус: </label>
        <select required [value]="employee.status" name="status" [(ngModel)]="employee.status" name="positions">
          <option>работает</option>
          <option>уволен</option>
        </select>
      </div>
      <div class="detail">
        <label>Должность: </label>
        <select required [(ngModel)]="employee.position" value="employee.position" name="position">
          <option *ngFor="let position of positions" [value]="position">{{position}}</option>
        </select>
      </div>
      <div class="detail">
        <label>Дата рождения:</label>
          <input required class="calendar" [minDate]="minDate" [maxDate]="maxDate" autocomplete=off
           bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false, 
           containerClass: 'theme-dark-blue' }"
            [(ngModel)]="employee.birthDate" value='{{employee.birthDate | date: "dd.MM.yyyy"}}' name="calendar">
      </div>

    </div>
    <div class="comment">
      <label>Комментарий: </label>
      <div class="comment_text">
        <textarea [(ngModel)]="employee.commentary" placeholder="" name="comment">
            </textarea>
      </div>
    </div>

    <div class="actions">
      <button class="control" (click)="goBack()">Назад</button>
      <button class="control" type="submit" (click)="save()" [disabled]="!employeeForm.valid">Сохранить</button>
    </div>
  </form>
</div>
