body {
  font-size: 22px;
}

.control {
  width: 6em;
  height: 2em;
  font-size: 100%;
  border-radius: 10%;
  background-color: rgba(151, 221, 238, 0.68);
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.comp {
  box-sizing: border-box;
  font-size: 1em;
  margin: 20px 1% 0;
  width: 95%;
  background-color: rgb(239, 242, 251);
  border: 3px solid rgba(31, 13, 189, 0.3);
}

select {
  border: 1px solid rgb(205, 205, 245);
  cursor: pointer;
}

input {
  border: none;
}
textarea, select,input {
    font-size: 1em;

}

select,
input {
  width: auto;
  background: none;
}

.calendar {
  cursor: pointer;
}


.ng-touched.ng-invalid:not(form) {
  border-bottom: 2px solid red;
}