h1 {
  text-align: center;
}

body {
  font-size: 22px;
  margin: 0;
}

*{
  font-family: 'Noto Serif', serif;
}

.control {
  width: 6em;
  height: 2em;
  font-size: 100%;
  border-radius: 15%;
  background-color: whitesmoke;
  cursor: pointer;
}
.form-control {
width: auto;
}

.container, .comp {
  background-color: rgb(255, 255, 255);
}

.comp {
  box-sizing: border-box;
  font-size: 1em;
  margin: 20px 1% 0;
  width: 95%;
}

select {
  cursor: pointer;
}

input, select {  
  width: auto;
}

textarea, select,input {
    font-size: 1em;
    border: 1px solid rgb(205, 205, 245);
    background: none;
    margin-left: 5px;
    padding-left: 5px;
}
textarea {
  display: block;
}
.calendar {
  border: 1px solid rgb(205, 205, 245);  
  cursor: pointer;
  background: none !important;
}


.ng-touched.ng-invalid:not(form) {
  border-bottom: 2px solid red;
}